@charset "UTF-8";
@import "layout.css";

@font-face {
  font-family: 'GmarketSansMedium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.blocker{
  height: 100vh;
}

.mobile {
  display: none;
}

div.bl-panel-items>div>div.mobilepanel {
  display: none;
}

.container {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.profile>a {
  margin-left: 30px;
  margin-top: 30px;
  position: fixed;
  z-index: 11111;
}

.profile a>img {
  width: 120px;
  height: auto;
  display: inline-block;
}

.profile {
  position: relative;
  width: 100%;
  height: 50%;
}

.profile .wrap {
  width: 1000px;
  height: 100%;
  text-align: center;
  padding-top: 50px;
  margin: 0 auto;
}

.profile .wrap .page h3 {
  margin-bottom: 15px;
  color: #222;
  font-weight: 600;
}

.profile .wrap .page .pro-wrap {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  justify-content: flex-end;
  margin-top: 20px;
  flex-grow: 0;
}

.profile-left {
  min-width: 500px;
}

.profile-left .pro-img img {
  width: 190px;
  height: auto;
}

.profile-left p {
  color: #3a3a3a;
  padding-bottom: 8px;
  font-weight: bold;
}

.page>span {
  display: inline-block;
  width: 50px;
  height: 3px;
  border-radius: 5px;
  background: -webkit-linear-gradient(90deg, rgb(75, 116, 167), rgb(42, 61, 126));
  background: linear-gradient(90deg, rgb(75, 116, 167), rgb(42, 61, 126));
  opacity: 0.7;
}

.profile-right {
  width: 550px;
  text-align: left;
  line-height: 30px;
}

.profile-right .edu {
  padding-bottom: 5px;
}

.profile-right .edu b {
  color: #293E98;
}

.profile-right .right2 {
  padding-top: 5px;
}

.profile-right .right2 .myinfo {
  margin-bottom: 5px;
}

.myinfo .kakao {
  display: inline-block;
}

.myinfo .btn {
  margin-left: 8px;
  display: inline-block;
}

.myinfo .btn a {
  color: #7c90d2;
}

.myinfo .btn a:hover {
  text-decoration: underline;
}

#ex1 {
  width: auto;
}

#ex1 img {
  width: 300px;
  height: 300px;
}

.profile-right .right2 .story {
  padding-top: 5px;
}

.profile-right .right2 .story .three {
  display: inline-block;
}

.profile-right .right2 .story .hello {
  display: inline-block;
  position: absolute;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  background: url('../img/icon/hello2.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.first .bl-box img {
  width: 50px;
  height: 50px;
}

.first .bl-box h2 {
  color: #fff;
}

.bl-main>.first {
  top: 55%;
  left: 0;
  background: #A7D3FF;
}

.bl-main>.second {
  top: 55%;
  left: 50%;
  /* background: #95e1d3; */
  /* background: #aacfd0; */
  /* background: #7393a7; */
  background: #769fcd;
}

/* 스킬 */
.bl-icon-close img {
  width: 25px;
  height: 25px;
}

.about {
  text-align: center;
  /* background-color: #f9f9f9; */
  background-size: cover;
}

.about h3 {
  color: #222;
  font-weight: 600;
  margin: 0;
  margin-bottom: 50px;
}

/* .about p {
  font-size: 16px;
  color: #4a4a4a;
  margin: 0;
  margin-bottom: 61px;
} */
.about .skillset {
  display: inline-block;
}

.about .skill:not(:last-child) {
  margin-bottom: 17px;
}

.about .skill .title {
  display: inline-block;
  width: 50px;
  text-align: left;
  vertical-align: middle;
  margin-right: 100px;
  color: #4a4a4a;
}

.about .skill .bar {
  display: inline-block;
  vertical-align: middle;
  width: 646px;
  height: 33px;
  border-radius: 25px;
  background-color: #f9f9f9;
  position: relative;
  line-height: 33px;
}

.about .skill .bar .inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 33px;
  background: #bbe6ff;
  border-radius: 25px;
}

.about .skill .bar .percentage {
  font-size: 14px;
  color: #888;
  position: absolute;
  right: 20px;
  top: 0;
}

.second .bl-box h2 {
  color: #fff;
}

div.bl-panel-items nav span.bl-next-work {
  width: 110px;
  height: 40px;
  text-align: center;
  background: #434b56;
  color: #fff;
}

div.bl-panel-items nav span.bl-next-work:hover {
  border: 2px solid #434b56;
  background: #fff;
  color: #434b56;
}

div.bl-panel-items.bl-panel-items-show nav span.cancel {
  width: 110px;
  height: 40px;
  text-align: center;
  background: #ccc;
  color: #fff;
}

div.bl-panel-items.bl-panel-items-show nav span.cancel:hover {
  border: 2px solid #ccc;
  background: #fff;
  color: #ccc;
}

.content2 {
  top: 15%;
}

.bl-content>ul li a {
  display: block;
  padding: 14px;
  background: rgba(255, 255, 255, 0.7);
}

.bl-content>ul li a:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.7);
  transition: 0.8s;
}

.bl-main>section:nth-child(1).bl-expand {
  background: -webkit-linear-gradient(0deg, rgb(237, 249, 255), rgb(206, 230, 255));
  background: linear-gradient(0deg, rgb(237, 249, 255), rgb(206, 230, 255));
}

.bl-main>section:nth-child(2).bl-expand {
  background: #fff;
}

.bl-main.bl-expand-item>section:not(.bl-expand),
.bl-main.bl-expand-item>section.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.bl-content h2 {
  color: #222;
  font-weight: 600;
}

/* panel */
.panel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.panel-wrap .panel-img {
  width: 45%;
  padding: 20px;
}

.panel-wrap .text-box {
  width: 45%;
}

.panel-wrap .text-box .panel-text h2 {
  color: #222;
  padding-bottom: 20px;
}

.panel-wrap .text-box .panel-text>span {
  display: block;
  width: 70px;
  height: 3px;
  border-radius: 25%;
  margin-right: 15px;
}

.panel-wrap .text-box .panel-text h6 {
  padding-top: 23px;
  padding-bottom: 20px;
}

.panel-wrap .text-box .panel-text .use {
  display: inline-block;
  margin-bottom: 10px;
}

.panel-wrap .text-box .panel-text .text2 {
  margin-bottom: 20px;
}

.panel-wrap .text-box .panel-text .text2 span:last-child {
  line-height: 35px;
  color: #222;
}

.site-color {
  padding-bottom: 20px;
}

.site-color h6 {
  padding-bottom: 10px;
}

.site-color .color-look {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.site-color .color1 {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 25%;
  margin-right: 15px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.site-btn .site {
  display: inline-block;
  margin-top: 20px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  background: #fff;
  border: 1px solid #4a4a4a;
  margin-right: 15px;
  color: #4a4a4a;
  font-family: 'GmarketSansMedium';
}

.site-btn .site:last-of-type {
  margin-right: 0;
}

.site-btn .site:hover {
  color: #fff;
  background: #4a4a4a;
  transition: 0.5s;
}

.port {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  div.bl-panel-items>div>div {
    width: 70%;
  }
}

@media screen and (max-width: 1200px) {
  .bl-content, div.bl-panel-items>div>div {
    max-width: 1200px;
  }

  .bl-content h2 {
    max-width: 1200px;
  }

  .bl-content>ul {
    max-width: 1200px;
  }
}

@media screen and (max-width: 1100px) {
  div.bl-panel-items>div>div {
    width: 80%;
  }
}

@media screen and (max-width: 960px) {
  .bl-content, div.bl-panel-items>div>div {
    max-width: 960px;
  }

  .bl-content>ul {
    max-width: 960px;
  }

  .panel-wrap .text-box {
    width: 50%;
  }
}

@media screen and (max-width: 920px) {
  .pc {
    display: none;
  }

  .mobile {
    display: block;
  }

  div.bl-panel-items>div>div.pcpanel {
    display: none;
  }

  div.bl-panel-items>div>div.mobilepanel {
    display: block;
  }

  div.bl-panel-items>div>div img {
    margin: 0;
  }

  div.bl-panel-items>div>div img {
    max-width: 400px;
  }
  .bl-content, div.bl-panel-items>div>div{
    flex-direction: column;
  }

  div.bl-panel-items>div>div img{
    max-width: 300px;
  }
  .panel-wrap .panel-img{
    width: auto;
  }
  div.bl-panel-items.bl-panel-items-show nav{
    top: -100px;
  }
  .bl-content, div.bl-panel-items > div > div{
    top: 10%;
    height: 680px;
  }
  .bl-content, div.bl-panel-items > div > div.skill{
    top: 20%;
  }
  .panel-wrap .text-box{
    width: 300px;
  }
  .panel-wrap .text-box .panel-text>span{
    width: 50px;
    display: inline-block;
    margin-right: 0;
  }
  .site-color .color-look{
    align-items: center;
  }
  .site-color .color1:last-child{
    margin-right: 0;
  }

  .panel-wrap{
    justify-content: center;
  }

  .panel-wrap .text-box .panel-text h2 {
    padding-bottom: 8px;
  }

  .panel-wrap .text-box .panel-text h6 {
    padding-top: 10px;
    padding-bottom: 8px;
  }

  .panel-wrap .text-box .panel-text .text2 {
    margin-bottom: 8px;
  }

  .site-color {
    padding-bottom: 0;
  }

  .site-btn{
    text-align: center;
  }

  .site-btn .site {
    width: 140px;
    height: 40px;
    line-height: 40px;
    margin-top: 20px;
  }

  .profile a>img {
    width: 90px;
  }

  .profile .wrap {
    max-width: 850px;
    width: 100%;
    padding-top: 70px;
  }

  .profile .wrap .page {
    position: relative;
    height: 100%;
  }

  .profile .wrap .page .pro-wrap {
    justify-content: center;
    height: 250px;
  }

  .pro-wrap .tab-content.current{
    width: 500px;
  }

  .pro-wrap {
    width: 100%;
  }

  .tabs {
    max-width: 850px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
  }

  .tabs li {
    background: none;
    color: skyblue;
    width: 30px;
    cursor: pointer;
  }

  .tabs li.current {
    color: black;
  }

  .pro-wrap .tab-content {
    display: none;
  }

  .pro-wrap .tab-content.current {
    display: block;
  }

  #tab-1 .tab-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: space-around;
    margin-top: 35px;
  }

  #tab-1 .tab-con .myinfo {
    margin-top: 50px;
    text-align: left;
  }

  .profile-right .right2 {
    padding: 0;
  }

  .profile-right {
    width: auto;
  }
}

@media screen and (max-width: 840px) {
  .about .skill .bar {
    width: 500px;
  }
}

@media screen and (max-width: 770px) {
  .bl-main>section {
    height: 40%;
  }

  .bl-main>.first {
    top: 60%;
  }

  .bl-main>.second {
    top: 60%;
  }

  div.bl-panel-items>div>div img {
    max-width: 250px;
  }

.panel-wrap .text-box{
  width: 250px;
}

.site-btn .site{
  width: 115px;
}

  .panel-wrap .text-box .panel-text h2{
    padding-bottom: 6px;
  }

  .panel-wrap .text-box .panel-text h6{
    padding-top: 7px;
    padding-bottom: 6px;
  }
  .panel-wrap .text-box .panel-text .use{
    margin-bottom: 6px;
  }
  .panel-wrap .text-box .panel-text .text2{
    margin-bottom: 6px;
  }

  .bl-content, div.bl-panel-items>div>div {
    max-width: 770px;
  }

  #tab-1 .tab-con {
    justify-content: center;
  }

  #tab-1 .tab-con .pro-img {
    padding-right: 15px;
  }

  .profile .wrap {
    max-width: 700px;
    width: 100%;
    padding-top: 100px;
    height: auto;
  }
.profile-left .pro-img img{
    max-width: 170px;
    width: 100%;
    height: auto;
  }
  .profile .wrap .page .pro-wrap{
    max-width: 330px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .profile .wrap .page {
    height: auto;
  }

  .profile {
    height: 60%;
  }

  .profile-right .right2 .story .hello {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 700px) {
  .about .skill .title {
    margin-right: 70px;
  }

  .about .skill .bar {
    width: 300px;
  }
  div.bl-panel-items.bl-panel-items-show nav{
    top: -60px;
  }

}

@media screen and (max-width: 520px) {
  .bl-main>section {
    height: 40%;
  }

  .bl-main>.first {
    top: 60%;
  }

  .bl-main>.second {
    top: 60%;
  }

  .bl-content, div.bl-panel-items>div>div {
    max-width: 520px;
    justify-content: flex-start;
  }

  .profile a>img {
    width: 70px;
  }

  .profile-left .pro-img img {
    width: 150px;
  }

  .profile-right {
    line-height: 23px;
  }

  .about .skill .bar {
    width: 180px;
  }
  div.bl-panel-items.bl-panel-items-show nav{
    top: -60px;
  }
}
